body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
div {
  display: block;
}

/* Login Page */
.loginPage{
  background: -webkit-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -moz-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -ms-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -o-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  height: 530px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
}
.form-login {
  background: rgb(255, 255, 255);
  width: 300px;
  height: 350px;
  text-align: center;
}
/* Upload page*/

.form-upload {
  background: rgb(255, 255, 255);
  width: 500px;
  height: 350px;
  text-align: center;
}
.upload-name {
  width: 400px;
  height: 30px;
  padding-left: 5px;
  margin: 20px;
  margin-top: 30px;
  border-radius: 5%;
  border: solid 2px rgb(170, 170, 170);
}
.upload-price {
  width: 400px;
  height: 30px;
  padding-left: 5px;
  margin: 20px;
  border-radius: 5%;
  border: solid 2px rgb(170, 170, 170);
}
.upload-licenses {
  width: 400px;
  height: 30px;
  padding-left: 5px;
  margin: 20px;
  border-radius: 5%;
  border: solid 2px rgb(170, 170, 170);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: 400;
  background: white;
  color: #323a44;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  height: 500px;
}

.drop {
  width: 96%;
  height: 96%;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop .cont {
  width: 500px;
  height: 170px;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}
.drop .cont .tit {
  font-size: 400%;
  text-transform: uppercase;
}
.drop .cont .desc {
  color: #A4AEBB;
}
.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
#list .thumb {
  height: 75px;
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}

/* Justify content for bootstrap 3 */
.align-center{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.justify-content-center{
  margin: auto
}

/* Login by Social */
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 13em;  /*- apply for fixed size*/
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: #4C69BA;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: #5B7BD5;
}


/* Google */
.loginBtn--google {
  font-family: "Roboto", Roboto, arial, sans-serif;
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://static.canva.com/static/images/google_button_icon.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/* Use for Sign-up and Login */
.sign-in-form{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.sign-in-form a{
  color: #ffffff;
}

.sign-in-logo{
  height: 60px;
  margin-bottom: 30px;
}

.login-email {
  width: 200px;
  height: 30px;
  padding-left: 5px;
  margin: 10px;
  margin-top: 30px;
  border-radius: 5%;
  border: solid 2px rgb(170, 170, 170);
}
.login-pass {
  width: 200px;
  height: 30px;
  padding-left: 5px;
  margin: 10px;
  border-radius: 5%;
  border: solid 2px rgb(170, 170, 170);
}
.login-btn  {
  background: -webkit-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -moz-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -ms-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -o-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  color: white;
  width: 100px;
}
ainer {
  position: relative;
}

.icon {
  margin: 15px;
}

.infobox {
  border: solid 1px rgb(117, 116, 116);
  border-radius: 5%;
  width: 220px;
  height: 30px;
  padding-left: 5px;
}

.infobox1 {
  border: solid 1px rgb(117, 116, 116);
  border-radius: 5%;
  width: 120px;
  height: 30px;
  padding-left: 5px;
  margin-right: 10px;
  margin-top: 20px;
}
.infobox2 {
  border: solid 1px rgb(117, 116, 116);
  border-radius: 5%;
  width: 90px;
  height: 30px;
  padding-left: 5px;
}

.regisbtn {
  background: -webkit-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -moz-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -ms-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: -o-linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  background: linear-gradient(90deg, #008af4 10%,#8400ff 90%);
  color: white;
  width: 100px;
  height: 30px;
  border: solid 1px white;
  border-radius: 5%;
  margin-top: 20px;
}

.backbtn {
  width: 100px;
  height: 30px;
  border: solid 1px rgb(121, 120, 120);
  border-radius: 5%;
  margin-top: 20px;
}

/* Navbar */
.glyphicon {
 color: #008af4;
}
.navbar {
  color: white;
}
.container-fluid {
  width: 100%;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a>span {
  color: white;
}
@media (max-width: 767px) {
  .navbar {
    background: white;
    color: #008af4;
  }
  .navbar-default {
    background: white;
    color: #008af4;
  }
  .navbar-expand-lg {
    background: white;
    color: #008af4;
  }
  .navbar-default .navbar-nav>li>a {
    background: white;
    color: #008af4;
  }
  .navbar-default .navbar-nav>li>a>span {
    color: #008af4;
  }
}

/* Banner */
#banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  left: 0px;
}
.banner-tittle {
  color: white;
  font-size: 25px;
}
#banner .index-btn a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #595959;
  border-radius: 3px;
  padding: 8px 12px;
  margin: 5px;
  width: 220px;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 0px 1px #E7E7E7;
}

/* Search-form */
.search-form {
  color: white;
  width:  440px;
  float: none;
  margin: 0;
  display: block;
}
.form-tittle {
  font-size: 20px;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    white;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    white;
 opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    white;
 opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    white;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
 color:    white;
}

@media (min-width:865px) {
  nav .container-fluid .navbar-header .container-fluid {
    width: 150px;
  }
}

.anim{
  font-size: 1em;
  font-style: normal;
  align-content: center;
  color: black;
}

/* Reference button  */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

/* Download page*/
.downloadPageContent{
  margin-bottom: 10px;
  margin-top: 10px;
}

.downloadPageName{
  color: #0083f4;
}

.download-info{
  color: rgb(0,138,244);
}

.download-preview{
  width: 100%;
}

.downloadPreview{  
  display: block;
  margin: auto;
  width: 100%;
  height:auto;
}

.downloadPageBtnStyle{
  display: block;
  margin: 0px auto;
  background-color: rgb(74, 165, 226); 
  border: none;
  color: white;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  
}

.downloadPageBtnStyle:hover {
  background-color: #8400ff;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.downloadPageAds{
  height: 450px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: -10px;
  /* border: 1.5px solid #0083f4; */
}

.downloadTextAds{
  opacity: 0.5;
  color: #0083f4;
}

.tag-btn {
  border-radius: 5%;
  border: solid 1px rgb(1, 136, 160) ;
  margin: 2px;
  background: white;
}


/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  padding-bottom: 20px;
}

.footer-style{
  margin-top: 10px;
  margin-bottom: 10px;
  size: 1em;
}

.footer-infor {
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .container-fluid .col-md-6 .col-lg-6 .col-lg-4 p{
    display: none;
  }
}

@media screen and (min-width: 992px) {
  center .container-fluid .sort-1 {
    text-align: right;
  }
  center .container-fluid .sort-2 {
    text-align: left;
  }
}


/* Search Result Page */
.result-title{
  color: #008af4;
  margin-top: 10px;
}

.search-result-page{
  margin: 15px auto 10px;
}

.search-navbar{
  margin-bottom:0px; 
  background: -webkit-linear-gradient(90deg, #008af4 10%, #8400ff 90%);
  background: -moz-linear-gradient(90deg, #008af4 10%, #8400ff 90%);
  background: -ms-linear-gradient(90deg, #008af4 10%, #8400ff 90%);
  background: -o-linear-gradient(90deg, #008af4 10%, #8400ff 90%);
  background: linear-gradient(90deg, #008af4 10%, #8400ff 90%);
  border: none;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.h-100 {
  height: 100% !important;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  display: block;
  height: auto;
}

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.text-muted {
  font-size: 2em;
  color: #008af4 !important;
}
.text-muted2 {
  font-size: 2em;
  color: #008af4 !important;
  border: none;
  background: white;
}

/* Overlay - Hover on Product */
.template-container {
  position: relative;
}

.template-container:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 0.7;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #8400ff;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  
}

.download-overlay{
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

/* Page number */
.page-num{
  
  margin: auto;
  align-content: center;
  margin-bottom: 20px;
}
.btn-group1{
  margin: auto;
}
.btn-group1 .button1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
    float: left;
    background: white;
    color: black;
    display: block;
    border: none;
    text-align: center;
}

.btn-group1 .button1:hover {
    background: #8400ff;
    color: white;
}
/*//End Search Result Page */

.ads-banner{
  width: 100%;
  height: 100%
}